# Spam Detector - Classification using PySpark
I tried to use PySpark as another alternative for this project, but my results were not as good as the model without PySpark. Here I should also say that I did not understand PySpark that good, but I tried anyways like we did in our lessons.

In [2]:
#pip install pyspark

## Import Libraries and Load Data

In [1]:
# import libraries
from pyspark import SparkConf, SparkContext 
import collections
from pyspark.ml.classification import GBTClassifier

from pyspark.ml.regression import LinearRegression

from pyspark.sql import SparkSession
from pyspark.ml.linalg import Vectors

import pandas as pd

In [2]:
# load data
train=pd.read_csv('/content/train.csv')
labels=pd.read_csv("/content/train_labels.csv")
df=pd.concat([train,labels], axis=1) # combine train and label
df.rename(columns={'0': 'label'}, inplace=True) # rename column from '0' to 'label'
df.head()

,0.097094,1.1133,45.038,0.88184,0.087009,1.041,1.5486,3.498,1.8578,0.0096729,...,3.6654,0.061607,0.0031605,0.036038,0.0845,2.4517,3.3373,0.065201,0.091158,label
0,0.050086,0.11158,94.0800,1.76500,0.089417,4.80470,0.26742,NaN,0.56473,0.035123,...,4.16870,0.075432,0.010869,0.063972,0.079892,1.9795,3.5064,0.072132,0.091950,1
1,0.088447,2.36340,5.0580,0.14436,0.064547,2.44400,4.25450,0.36506,1.86090,0.009759,...,4.56130,0.046505,NaN,0.084066,0.064829,3.3087,2.9969,0.064328,0.036793,0
2,0.772540,0.59469,NaN,0.97515,0.015987,0.52884,1.48840,3.96100,4.80630,0.048617,...,0.12832,0.065028,0.036862,0.010010,0.020709,2.5237,2.1711,0.080865,0.081553,0
3,0.382410,4.81090,1955.1000,0.46050,0.024453,2.02980,3.74030,4.22810,2.42920,0.156830,...,4.37010,1.001100,0.065750,0.043547,0.629430,4.6262,3.1947,NaN,0.187180,1
4,0.081316,4.84150,4.0507,2.48320,0.058990,2.37940,1.61270,2.04220,1.65710,0.039377,...,2.68040,0.076524,0.082756,0.041953,0.018092,3.3041,0.1922,0.032600,0.050172,0

In [3]:
# Get the number of columns
n_columns = df.shape[1]

# Create a dictionary with the old column names as keys and the new column names as values
new_column_names = {old_col: 'col' + str(i) for i, old_col in enumerate(df.columns, start=1)}

# Rename the columns
df = df.rename(columns=new_column_names)

print(df.columns)  # The columns will now be named 'col1', 'col2', 'col3', etc.

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9',
       'col10',
       ...
       'col92', 'col93', 'col94', 'col95', 'col96', 'col97', 'col98', 'col99',
       'col100', 'col101'],
      dtype='object', length=101)

In [4]:
df = df.rename(columns={'col101': 'label'})

In [5]:
df.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col92,col93,col94,col95,col96,col97,col98,col99,col100,label
0,0.050086,0.11158,94.0800,1.76500,0.089417,4.80470,0.26742,NaN,0.56473,0.035123,...,4.16870,0.075432,0.010869,0.063972,0.079892,1.9795,3.5064,0.072132,0.091950,1
1,0.088447,2.36340,5.0580,0.14436,0.064547,2.44400,4.25450,0.36506,1.86090,0.009759,...,4.56130,0.046505,NaN,0.084066,0.064829,3.3087,2.9969,0.064328,0.036793,0
2,0.772540,0.59469,NaN,0.97515,0.015987,0.52884,1.48840,3.96100,4.80630,0.048617,...,0.12832,0.065028,0.036862,0.010010,0.020709,2.5237,2.1711,0.080865,0.081553,0
3,0.382410,4.81090,1955.1000,0.46050,0.024453,2.02980,3.74030,4.22810,2.42920,0.156830,...,4.37010,1.001100,0.065750,0.043547,0.629430,4.6262,3.1947,NaN,0.187180,1
4,0.081316,4.84150,4.0507,2.48320,0.058990,2.37940,1.61270,2.04220,1.65710,0.039377,...,2.68040,0.076524,0.082756,0.041953,0.018092,3.3041,0.1922,0.032600,0.050172,0

In [6]:
# filling all missing values with their mean, because we only have float type columns
df = df.apply(lambda x: x.fillna(x.mean()) if x.dtype == 'float' else x)

In [7]:
df.to_csv(r'/content/spam.csv', index=False) # save df to new spam.csv

In [8]:
df2=pd.read_csv('/content/spam.csv')
df2.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col92,col93,col94,col95,col96,col97,col98,col99,col100,label
0,0.050086,0.11158,94.080000,1.76500,0.089417,4.80470,0.26742,2.550598,0.56473,0.035123,...,4.16870,0.075432,0.010869,0.063972,0.079892,1.9795,3.5064,0.072132,0.091950,1
1,0.088447,2.36340,5.058000,0.14436,0.064547,2.44400,4.25450,0.365060,1.86090,0.009759,...,4.56130,0.046505,0.094279,0.084066,0.064829,3.3087,2.9969,0.064328,0.036793,0
2,0.772540,0.59469,291.018659,0.97515,0.015987,0.52884,1.48840,3.961000,4.80630,0.048617,...,0.12832,0.065028,0.036862,0.010010,0.020709,2.5237,2.1711,0.080865,0.081553,0
3,0.382410,4.81090,1955.100000,0.46050,0.024453,2.02980,3.74030,4.228100,2.42920,0.156830,...,4.37010,1.001100,0.065750,0.043547,0.629430,4.6262,3.1947,0.182338,0.187180,1
4,0.081316,4.84150,4.050700,2.48320,0.058990,2.37940,1.61270,2.042200,1.65710,0.039377,...,2.68040,0.076524,0.082756,0.041953,0.018092,3.3041,0.1922,0.032600,0.050172,0

## Create Spark Session

In [9]:
from pyspark.conf import SparkConf

spark=SparkSession.builder\
    .master("local")\
    .appName("SpamDetector")\
    .getOrCreate()
sc=spark.sparkContext

## Preparing the Data

In [10]:
spark_df = spark.read.csv("/content/spam.csv",header=True,inferSchema=True,sep=",")
#inferSchema = True, helps so that every column is not a string
#header = True, takes the column names into the df, other wise the column names will be c0, c1...

In [11]:
spark_df.show(5)

+--------+-------+------------------+-------+--------+-------+-------+-----------------+-------+---------+-------+------+--------+------+------+-------+---------+------+------+--------+--------+--------+------------------+--------+--------+------+-------+--------+--------+------+--------+--------+--------+---------+-------+------+---------+------------------+------------------+--------+------+-------+--------+-------+------+------------------+--------+-------+--------+--------+-------+-------------------+--------+--------+------------------+------+--------+------+--------+---------+---------+--------+--------+--------+---------+-------+-------+-------+--------+--------+-------+-------+---------+---------+------------------+--------+------------------+-------+--------+--------+-------+--------+-------+--------+------------------+------+-------+--------+--------+--------+--------+-------+--------+-------------------+--------+--------+------+------+-------------------+--------+-----+
|    col1|   col2|              col3|   col4|    col5|   col6|   col7|             col8|   col9|    col10|  col11| col12|   col13| col14| col15|  col16|    col17| col18| col19|   col20|   col21|   col22|             col23|   col24|   col25| col26|  col27|   col28|   col29| col30|   col31|   col32|   col33|    col34|  col35| col36|    col37|             col38|             col39|   col40| col41|  col42|   col43|  col44| col45|             col46|   col47|  col48|   col49|   col50|  col51|              col52|   col53|   col54|             col55| col56|   col57| col58|   col59|    col60|    col61|   col62|   col63|   col64|    col65|  col66|  col67|  col68|   col69|   col70|  col71|  col72|    col73|    col74|             col75|   col76|             col77|  col78|   col79|   col80|  col81|   col82|  col83|   col84|             col85| col86|  col87|   col88|   col89|   col90|   col91|  col92|   col93|              col94|   col95|   col96| col97| col98|              col99|  col100|label|
+--------+-------+------------------+-------+--------+-------+-------+-----------------+-------+---------+-------+------+--------+------+------+-------+---------+------+------+--------+--------+--------+------------------+--------+--------+------+-------+--------+--------+------+--------+--------+--------+---------+-------+------+---------+------------------+------------------+--------+------+-------+--------+-------+------+------------------+--------+-------+--------+--------+-------+-------------------+--------+--------+------------------+------+--------+------+--------+---------+---------+--------+--------+--------+---------+-------+-------+-------+--------+--------+-------+-------+---------+---------+------------------+--------+------------------+-------+--------+--------+-------+--------+-------+--------+------------------+------+-------+--------+--------+--------+--------+-------+--------+-------------------+--------+--------+------+------+-------------------+--------+-----+
|0.050086|0.11158|             94.08|  1.765|0.089417| 4.8047|0.26742|2.550597661512027|0.56473| 0.035123| 1.4827|2.5929| 0.22398|3.9993|3.4247| 1.7945| 0.070337|0.7135|1.1426|0.018661| 0.06512|0.081132|2.5249701369863016|0.060869|0.083399|2.1228|0.73517|0.096963|0.011055| 3.951| 0.09111|0.018081|0.038182| 0.017668|0.91469|41.014|    3.707|            2.0693|            4.9571|0.016032|4.3729| 3.2356|0.092688|0.22587|6.3327|            2.5621|  0.0305| 4.1712|0.043128|  1.8959|0.19076|            0.04998| 0.96831|0.095265|            4.9342|3.6403|0.085841|2.5845|0.038742|3.1918E-4| 0.052713|0.019645|0.094237|0.036511| 0.071179|0.23586| 4.0732| 1.2444|0.094579| 0.93198| 2.3565|0.82129| 0.049131|  0.02701|            1.8648|0.011165|          0.048432| 0.7312|0.099694| 0.16896| 1.6389|  2.7395|0.55716|0.070742|          0.022589|1.6064| 3.0345|0.063698| 0.95168|0.065822|0.054712| 4.1687|0.075432|           0.010869|0.063972|0.079892|1.9795|3.5064|           0.072132| 0.09195|    1|
|0.088447| 2.3634|             5.058|0.14436|0.064547|  2.444| 4.2545|          0.36506| 1.8609|0.0097593| 3.5075|3.6126| 0.01972|2.2723|1.1937| 1.0369| 0.086313|1.5003|2.3868|0.052785| 0.08795|0.067695|             1.466|0.024131|0.035304| 1.445|  3.839|3.252E-4|0.092129|4.7438|0.033202|0.083371|0.014163| 0.055091| 5.0602|1.0771|0.0039658|            4.0361|2.4418348252595155|0.019126|1.9285|0.77643|0.018482| 4.5763|1.0067|            1.5745|  0.0547|0.34146|0.048967| 0.01956| 2.0155|            0.07208|0.087619|0.094343|            3.9453|0.5248|0.082408|1.3841|0.032529|  0.02405|9.9099E-4| 0.06766|0.023938|0.090783| 0.003342| 2.9558| 3.8611| 3.7686|0.071469|0.089305| 1.7302| 3.7683| 0.047478| 0.090466|            5.0165|0.088609|         0.0036006| 1.0453| 0.03231|0.090294| 5.0259|0.081161| 1.0509|0.015816|            20.088|  1.07| 4.3468|0.061113|0.073222|0.098675|0.017203| 4.5613|0.046505|0.09427907471403812|0.084066|0.064829|3.3087|2.9969|           0.064328|0.036793|    0|
| 0.77254|0.59469|291.01865924006904|0.97515|0.015987|0.52884| 1.4884|            3.961| 4.8063| 0.048617| 2.7212|2.5029|0.023355|4.5088|3.1327| 3.8627| 0.090923|4.3838|2.1928|0.026211|0.099073|0.019689|            2.2198|0.042799|0.037704|4.1482| 4.0718|0.017883|0.092244|3.6523|0.010751|0.055596|0.015418| 0.093861|0.94272|1.0224|   7.5641|            2.6595|            1.4756| 0.77209|2.9316| 1.8214|0.036775| 3.8538|1.0653|2.6246407405498284|   0.039| 4.5147|0.088371|0.098904| 4.1317|           0.020435| 0.36422|0.049476|             0.405|3.1788|0.040688|2.2262|0.050689|0.0055853| 0.087453|0.022281|0.041949|0.022086|0.0082986|  2.941|0.98445|0.91658|0.050185|0.040575| 1.5254| 1.2796| 0.014323|0.0049586|            0.9157|0.019139|0.2856752121256454| 3.4943|0.081137|0.016771|0.13016|  1.0637| 4.9441|   0.377|          0.041079|1.5943| 4.6241| 0.40708|0.051634|0.057662|0.022891|0.12832|0.065028|           0.036862| 0.01001|0.020709|2.5237|2.1711|           0.080865|0.081553|    0|
| 0.38241| 4.8109|            1955.1| 0.4605|0.024453| 2.0298| 3.7403|           4.2281| 2.4292|  0.15683| 4.6799|1.2061| 0.16048|4.3383|1.7294| 4.1555|0.0042596| 4.925|4.3986|0.070821|0.034121|0.087522|           0.17924|0.097594| 0.31043|5.0021|0.79369| 0.10047| 0.13413|3.0778|0.053728|0.066446| 0.39144| 0.028428| 3.1873|181.06|   2.7944|2.5689823137931036|            1.3476|  0.6469|4.6828| 3.8963| 0.07296| 0.6109|3.3776|           0.29307|0.083117| 4.0029|  0.3698| 0.39722| 4.2858|0.12665729751295338|0.066497| 0.75469|            2.8442|3.9069|0.066547|3.6738|0.093712| 0.026305|  0.18615|0.049486|0.042992| 0.25642|  0.29486|  1.287|0.80866|0.42315|0.094649| 0.21758| 2.7112|  2.147|  0.43017| 0.042579|2.5289998293103446|0.043946|           0.06705| 4.9796|0.061703| 0.47857| 1.7065|  1.4378|  3.829| 0.40563|0.8264100620571924|1.6429| 4.7505| 0.37756| 0.52042|0.038938|0.032051| 4.3701|  1.0011|            0.06575|0.043547| 0.62943|4.6262|3.1947|0.18233786705172414| 0.18718|    1|
|0.081316| 4.8415|            4.0507| 2.4832| 0.05899| 2.3794| 1.6127|           2.0422| 1.6571| 0.039377|0.65003|2.4241|0.083921|3.2717|1.2791|0.76711| 0.077046|4.0043|4.4889|0.017876|0.034194|0.051383|           0.10942|0.033228|0.073198|3.8304|0.97449|0.031858|0.064099| 4.537|0.031019|0.054224|0.059163|0.0089454| 2.3442| 1.086| 0.039963|            1.4863|           0.71081| 0.09704|3.4237| 1.3726|0.079467| 2.1721|1.0799|             1.646|0.031722| 4.0762|0.066266|0.022077|0.75201|           0.037699|0.086819|0.089568|2.5328794461805555|2.4755|0.098918|2.8581|0.068503| 0.038058| 0.058369|0.053831|0.042403|0.037323| 0.059348| 3.7692| 2.3673| 2.4747|0.028761|0.013585|0.75453| 1.3013|0.0023164|5.9529E-4|            3.5942|0.023379|          0.003272|0.96592|0.025424|0.092793| 2.6938|0.096934|0.26088|0.063095|          0.024237|1.8117|0.72178|0.041385|0.033927|0.091891|0.018918| 2.6804|0.076524|           0.082756|0.041953|0.018092|3.3041|0.1922|             0.0326|0.050172|    0|
+--------+-------+------------------+-------+--------+-------+-------+-----------------+-------+---------+-------+------+--------+------+------+-------+---------+------+------+--------+--------+--------+------------------+--------+--------+------+-------+--------+--------+------+--------+--------+--------+---------+-------+------+---------+------------------+------------------+--------+------+-------+--------+-------+------+------------------+--------+-------+--------+--------+-------+-------------------+--------+--------+------------------+------+--------+------+--------+---------+---------+--------+--------+--------+---------+-------+-------+-------+--------+--------+-------+-------+---------+---------+------------------+--------+------------------+-------+--------+--------+-------+--------+-------+--------+------------------+------+-------+--------+--------+--------+--------+-------+--------+-------------------+--------+--------+------+------+-------------------+--------+-----+
only showing top 5 rows

In [12]:
spark_df.printSchema()

root
 |-- col1: double (nullable = true)
 |-- col2: double (nullable = true)
 |-- col3: double (nullable = true)
 |-- col4: double (nullable = true)
 |-- col5: double (nullable = true)
 |-- col6: double (nullable = true)
 |-- col7: double (nullable = true)
 |-- col8: double (nullable = true)
 |-- col9: double (nullable = true)
 |-- col10: double (nullable = true)
 |-- col11: double (nullable = true)
 |-- col12: double (nullable = true)
 |-- col13: double (nullable = true)
 |-- col14: double (nullable = true)
 |-- col15: double (nullable = true)
 |-- col16: double (nullable = true)
 |-- col17: double (nullable = true)
 |-- col18: double (nullable = true)
 |-- col19: double (nullable = true)
 |-- col20: double (nullable = true)
 |-- col21: double (nullable = true)
 |-- col22: double (nullable = true)
 |-- col23: double (nullable = true)
 |-- col24: double (nullable = true)
 |-- col25: double (nullable = true)
 |-- col26: double (nullable = true)
 |-- col27: double (nullable = true)
 |-- col28: double (nullable = true)
 |-- col29: double (nullable = true)
 |-- col30: double (nullable = true)
 |-- col31: double (nullable = true)
 |-- col32: double (nullable = true)
 |-- col33: double (nullable = true)
 |-- col34: double (nullable = true)
 |-- col35: double (nullable = true)
 |-- col36: double (nullable = true)
 |-- col37: double (nullable = true)
 |-- col38: double (nullable = true)
 |-- col39: double (nullable = true)
 |-- col40: double (nullable = true)
 |-- col41: double (nullable = true)
 |-- col42: double (nullable = true)
 |-- col43: double (nullable = true)
 |-- col44: double (nullable = true)
 |-- col45: double (nullable = true)
 |-- col46: double (nullable = true)
 |-- col47: double (nullable = true)
 |-- col48: double (nullable = true)
 |-- col49: double (nullable = true)
 |-- col50: double (nullable = true)
 |-- col51: double (nullable = true)
 |-- col52: double (nullable = true)
 |-- col53: double (nullable = true)
 |-- col54: double (nullable = true)
 |-- col55: double (nullable = true)
 |-- col56: double (nullable = true)
 |-- col57: double (nullable = true)
 |-- col58: double (nullable = true)
 |-- col59: double (nullable = true)
 |-- col60: double (nullable = true)
 |-- col61: double (nullable = true)
 |-- col62: double (nullable = true)
 |-- col63: double (nullable = true)
 |-- col64: double (nullable = true)
 |-- col65: double (nullable = true)
 |-- col66: double (nullable = true)
 |-- col67: double (nullable = true)
 |-- col68: double (nullable = true)
 |-- col69: double (nullable = true)
 |-- col70: double (nullable = true)
 |-- col71: double (nullable = true)
 |-- col72: double (nullable = true)
 |-- col73: double (nullable = true)
 |-- col74: double (nullable = true)
 |-- col75: double (nullable = true)
 |-- col76: double (nullable = true)
 |-- col77: double (nullable = true)
 |-- col78: double (nullable = true)
 |-- col79: double (nullable = true)
 |-- col80: double (nullable = true)
 |-- col81: double (nullable = true)
 |-- col82: double (nullable = true)
 |-- col83: double (nullable = true)
 |-- col84: double (nullable = true)
 |-- col85: double (nullable = true)
 |-- col86: double (nullable = true)
 |-- col87: double (nullable = true)
 |-- col88: double (nullable = true)
 |-- col89: double (nullable = true)
 |-- col90: double (nullable = true)
 |-- col91: double (nullable = true)
 |-- col92: double (nullable = true)
 |-- col93: double (nullable = true)
 |-- col94: double (nullable = true)
 |-- col95: double (nullable = true)
 |-- col96: double (nullable = true)
 |-- col97: double (nullable = true)
 |-- col98: double (nullable = true)
 |-- col99: double (nullable = true)
 |-- col100: double (nullable = true)
 |-- label: integer (nullable = true)

In [13]:
spark_df.describe().show()

+-------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-----------------+------------------+-------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+
|summary|              col1|              col2|             col3|              col4|               col5|              col6|              col7|              col8|             col9|              col10|             col11|             col12|              col13|             col14|             col15|             col16|             col17|             col18|             col19|             col20|              col21|              col22|             col23|              col24|              col25|             col26|             col27|             col28|              col29|             col30|              col31|              col32|             col33|              col34|             col35|             col36|             col37|            col38|             col39|             col40|             col41|             col42|              col43|             col44|             col45|            col46|             col47|             col48|              col49|              col50|             col51|              col52|             col53|              col54|            col55|             col56|             col57|             col58|              col59|              col60|              col61|             col62|             col63|              col64|              col65|             col66|            col67|             col68|              col69|              col70|             col71|             col72|              col73|              col74|             col75|              col76|              col77|             col78|              col79|             col80|             col81|            col82|            col83|              col84|             col85|             col86|             col87|              col88|             col89|              col90|              col91|             col92|             col93|              col94|             col95|             col96|             col97|             col98|             col99|            col100|              label|
+-------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-----------------+------------------+-------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+
|  count|               599|               599|              599|               599|                599|               599|               599|               599|              599|                599|               599|               599|                599|               599|               599|               599|               599|               599|               599|               599|                599|                599|               599|                599|                599|               599|               599|               599|                599|               599|                599|                599|               599|                599|               599|               599|               599|              599|               599|               599|               599|               599|                599|               599|               599|              599|               599|               599|                599|                599|               599|                599|               599|                599|              599|               599|               599|               599|                599|                599|                599|               599|               599|                599|                599|               599|              599|               599|                599|                599|               599|               599|                599|                599|               599|                599|                599|               599|                599|               599|               599|              599|              599|                599|               599|               599|               599|                599|               599|                599|                599|               599|               599|                599|               599|               599|               599|               599|               599|               599|                599|
|   mean|0.3269268080136987|2.5601680152801385|291.0186592400692|2.6468793868739224|  0.182357438606272| 2.513011442538594| 2.644158327645051|2.5505976615120294| 2.50249058275862|0.12813719993103445|2.5164232918088736|2.7175686552315637|0.12968564745299138| 2.517682753472219| 2.619193793706294| 2.576820490394511|0.6566772064540725|2.5227350374787036|2.5516946271477687| 0.141031675034602|0.13137238326460468|0.06619423034602069|2.5249701369863002|0.13807462640103257|0.15603957445017186| 2.548291062711866| 2.496051908006813|0.1283829753184165|0.21915910395547947|2.4944988186528514|0.15597810184347835|0.14747584480206563|0.1908805713050848|0.07407246291808871|2.5711463029259902| 48.46470154639173|1.7346800913344886|2.568982313793104|2.4418348252595177|0.5657413069572652| 2.548669153979239|2.5675139930915387|0.13263977532423224|2.4541520726643586| 4.655230085470081| 2.62464074054983|0.1814269394071551|2.5774477504273507|0.11516932531755134|0.24633628896081786|2.5256976900684927|0.12665729751295343|0.3145138028124999|0.12485443526962456|2.532879446180552|  2.55645942733564|0.3559430903925041| 2.644022884083047|0.10305123195540321|0.19109350815672932| 0.0951632926470588|0.1245020890630323|0.1761625412969282|0.35391842895904413|0.08907746990500863| 2.560379348958335|2.544435461139898|2.5205596412478335|0.17389592505308213|0.22427057724612762|2.5801425199306722|2.5532170426621152|0.14639995688435378|0.05454161400341302| 2.528999829310345|0.21412942987889255|0.28567521212564545| 2.502183838209979|0.09674868544194105|0.3373581215502555|2.5131457602739697|0.976628797694973|2.619021913941481|0.15820498304123717|0.8264100620571924| 2.569923032758622| 2.631860991394145|0.31093690766211607|0.3682904762742758|0.06940403162905981|0.08337173283737018|2.5307783818493137|0.1743167339794167|0.09427907471403814|0.1747302707719299|0.1119538889003436|2.5383036449399667|2.6032331617900164|0.1823378670517241|0.1524189689860385|0.42237061769616024|
| stddev|0.5387805931382255|1.4219216738463045|611.3508643968755|1.4217534144875876|0.41234526798595583|1.4296018516046223|1.4571566891163974| 1.429528999799374|1.429220906157178| 0.3808613804520233| 1.476593460479743|1.4160604080498462|0.23954128067244365|1.4059963648375642|1.3682551164203889|1.4360507948995476| 1.830821824479716|1.4509519853425703| 1.404331118519326|0.5553262151809558|0.45710468517253555| 0.1218946481235958|1.4408466180091806|0.46123388464531195| 0.3434666760965508|1.4540298966108736|1.4290892572220721| 1.751724580044962|0.32919010738122045| 1.371233965580125| 0.3564769567289574| 0.4767980525432567|0.4336348813769065|0.18996851985078897|1.4141621603905885|108.72164320623408|1.6294458720993323|1.407245653230067|1.4588394762345658|0.8492035739124926|1.4422582460371596|1.4144735619250037| 0.4535994629643737|1.4208695702079122|15.505272388769916|1.423243669117967|1.1705866059784826|1.3963867969431554|0.37076998717139675| 0.5596461378753788|1.4723178563313395|  0.447853100405176|0.8918508874687293|0.25134265167465786|1.418386197993009|1.3721538351765519|0.9436794939524875|1.4296090133504982| 0.5628652031881496| 0.8385266642813084|0.16546635263865997|0.3238712672265609|0.5276162984633157| 0.5913275901949319| 0.2600349988126771|1.4126771196738936|1.418104293052667| 1.443180035798029| 0.5049955515296627| 0.9228712238932916|1.4314445334430828| 1.432172233718675| 0.3441647430832716|0.06759471528727175|1.3846765362672688|  0.724048806181434| 1.3459327915636983|1.4607058064419074|0.20385409884699884|0.6374107373232295|1.4375113722008188|1.293875434133329|1.394164906151484| 0.3054120922006911| 3.287831764238722|1.4223966443893268|1.4085885320937224| 0.6437764365235269|1.1173395578960665|0.30159386045565656|0.19075303602348606|1.4247572522134506|0.6030763109861218|0.36045438556069503|0.5508044184257284|0.2142996878846422|1.4399209733620948|1.3989915609725425|0.5505762066855093|0.2965362271440303|0.49434973626364204|
|    min|          4.455E-4|          0.055685|           1.0078|          0.032513|          1.0027E-4|           0.01435|          0.016254|          0.039126|         0.036541|           9.015E-5|          0.015709|          0.028455|          1.6043E-4|          0.045533|          0.011802|         0.0069149|         3.6324E-5|          0.019814|          0.037994|          3.647E-4|           1.803E-5|          3.4461E-4|          0.031361|          3.9829E-5|          2.5953E-4|          0.049962|          0.015321|         2.3089E-4|          3.3714E-4|          0.030179|           2.545E-4|           2.488E-5|         2.3571E-4|          1.7403E-4|          0.024202|            1.0028|         0.0019572|         0.045249|          0.027106|         2.8717E-4|          0.029325|          0.027913|          2.3124E-4|          0.048761|             1.003|         0.055988|         1.9552E-5|          0.020166|          2.3545E-7|          3.6377E-4|          0.033826|          3.9256E-4|         1.2563E-4|          4.7818E-5|         0.029319|          0.031114|         6.4304E-6|          0.025521|          2.5971E-4|          6.0138E-5|          1.8691E-4|         5.7378E-4|         1.7411E-4|          5.0044E-4|          1.6151E-5|          0.066654|         0.039396|          0.071525|          5.1621E-5|          3.4715E-4|          0.013452|          0.048588|          5.7448E-5|          4.6846E-5|          0.027164|          1.8036E-4|          6.7705E-5|          0.019127|           0.001022|          2.899E-4|          0.048308|        1.1875E-4|          0.05989|          3.8073E-4|         9.9877E-5|          0.095006|           0.04773|          2.0209E-4|         2.6803E-5|          1.4583E-5|          2.0907E-4|          0.020904|         1.7792E-4|          1.3068E-4|         3.3844E-4|         4.4664E-4|           0.02007|          0.045843|         5.5269E-4|         1.8125E-5|                  0|
|    max|            5.1766|            5.0644|           9163.1|            5.0921|              4.605|            5.0882|            5.0566|            5.0888|           5.0723|             4.3478|            5.0772|            5.0844|             4.0844|            5.0826|            5.0281|            5.0839|             20.83|             5.054|            5.0532|            8.1988|             4.8506|             2.8333|            5.0571|             4.8318|               4.07|             5.062|            5.0815|            42.889|             5.3085|            5.0782|              4.077|             4.8362|            3.7729|              3.734|            5.0888|            1146.1|             9.772|           5.0628|            5.0782|            6.2946|            5.0707|            5.0697|             4.8564|            5.0595|             337.3|           5.0657|            17.158|            5.0471|             5.5979|             4.8874|             5.089|             7.2162|            16.709|             3.6318|           5.0476|            5.0486|            7.4492|              5.04|             13.136|             11.189|             2.0511|            2.8916|            4.8579|             6.3135|             4.5026|             5.039|           5.0811|             5.065|              4.843|             14.366|            5.0771|            5.0541|             5.3134|            0.97893|            5.0433|             9.1411|             22.079|            5.0477|             2.2943|            8.3813|            5.0471|           11.139|           5.0346|             2.8938|            33.361|            5.0506|            5.0407|              5.348|            20.081|             6.5338|             3.8387|            5.0583|             11.12|             7.2084|            5.2179|            2.3834|            5.0737|            5.0819|            7.6934|            3.5881|                  1|
+-------+------------------+------------------+-----------------+------------------+-------------------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-----------------+------------------+-------------------+-------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+-----------------+-----------------+-------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+

In [14]:
spark_df.groupby("label").count().show()

+-----+-----+
|label|count|
+-----+-----+
|    1|  253|
|    0|  346|
+-----+-----+

## Vector Assembler
To combine all feature data and separate 'label' data in a dataset, we use VectorAssembler. Then we split our data into train and test data.

In [15]:
from pyspark.ml.feature import VectorAssembler

In [16]:
# I don't like this code, but this was a way for me to do it in a fast way
vect = VectorAssembler(inputCols=['col1',
 'col2',
 'col3',
 'col4',
 'col5',
 'col6',
 'col7',
 'col8',
 'col9',
 'col10',
 'col11',
 'col12',
 'col13',
 'col14',
 'col15',
 'col16',
 'col17',
 'col18',
 'col19',
 'col20',
 'col21',
 'col22',
 'col23',
 'col24',
 'col25',
 'col26',
 'col27',
 'col28',
 'col29',
 'col30',
 'col31',
 'col32',
 'col33',
 'col34',
 'col35',
 'col36',
 'col37',
 'col38',
 'col39',
 'col40',
 'col41',
 'col42',
 'col43',
 'col44',
 'col45',
 'col46',
 'col47',
 'col48',
 'col49',
 'col50',
 'col51',
 'col52',
 'col53',
 'col54',
 'col55',
 'col56',
 'col57',
 'col58',
 'col59',
 'col60',
 'col61',
 'col62',
 'col63',
 'col64',
 'col65',
 'col66',
 'col67',
 'col68',
 'col69',
 'col70',
 'col71',
 'col72',
 'col73',
 'col74',
 'col75',
 'col76',
 'col77',
 'col78',
 'col79',
 'col80',
 'col81',
 'col82',
 'col83',
 'col84',
 'col85',
 'col86',
 'col87',
 'col88',
 'col89',
 'col90',
 'col91',
 'col92',
 'col93',
 'col94',
 'col95',
 'col96',
 'col97',
 'col98',
 'col99',
 'col100'],outputCol='features')

In [17]:
vect_df = vect.transform(spark_df) # transform our DataFrame to a vector
vect_df = vect_df.select(['features', 'label']) # we only select 'features' and 'label' columns because Pyspark ML models wants the dataset like this
vect_df.show(3)

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[0.050086,0.11158...|    1|
|[0.088447,2.3634,...|    0|
|[0.77254,0.59469,...|    0|
+--------------------+-----+
only showing top 3 rows

In [19]:
# split data into train and test 
(train, test) = vect_df.randomSplit([0.9, 0.1])

In [20]:
train.show(3)

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[4.455E-4,0.83678...|    0|
|[4.5758E-4,0.8979...|    0|
|[0.0010957,3.3082...|    1|
+--------------------+-----+
only showing top 3 rows

In [21]:
test.show(3)

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[0.0032418,3.4921...|    1|
|[0.0036366,1.7777...|    0|
|[0.0053045,2.1663...|    0|
+--------------------+-----+
only showing top 3 rows

## Using Gradient-boosted Tree Classifier to fit and predict our model

In [22]:
# fit the model on train data
gbtc = GBTClassifier(labelCol="label", maxIter=20) #max itteration 20
gbtc = gbtc.fit(train) # fit train data

# predict
pred = gbtc.transform(test) #transform() method is for predicting instead of predict()

In [23]:
pred.show(5)

+--------------------+-----+--------------------+--------------------+----------+
|            features|label|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[0.0032418,3.4921...|    1|[-1.5415616507961...|[0.04380879501588...|       1.0|
|[0.0036366,1.7777...|    0|[1.49500622787295...|[0.95212087796977...|       0.0|
|[0.0053045,2.1663...|    0|[1.15434668584643...|[0.90959446563872...|       0.0|
|[0.007249,3.8778,...|    0|[0.82221465492210...|[0.83813673364775...|       0.0|
|[0.0091645,0.5926...|    1|[-1.4284818186251...|[0.05432247219937...|       1.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 5 rows

## Check the accuracy using MulticlassClassificationEvaluator

In [24]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from sklearn.metrics import confusion_matrix

In [25]:
evaluator=MulticlassClassificationEvaluator(metricName="accuracy")

In [26]:
acc = evaluator.evaluate(pred)
print("Accuracy Score: ", acc)

Accuracy Score:  0.8769230769230769

Accuracy of 87,69% for MultiClassClassificationEvaluator using GBTC.

### Create a confusion matrix

In [27]:
y_predict=pred.select("prediction").collect()
y_original=pred.select("label").collect()
confmatrix = confusion_matrix(y_original, y_predict)

In [28]:
print("Confusion Matrix:")
print(confmatrix)

Confusion Matrix:
[[31  5]
 [ 3 26]]

## Linear Regression with Spark

In [29]:
from pyspark.ml.regression import LinearRegression

In [30]:
#Create Linear regression model
lir = LinearRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)

# Train the model using our training data
model = lir.fit(train)

# Now see if we can predict values in our test data.
# Generate predictions using our linear regression model for all features in our
# test dataframe:
fullPredictions = model.transform(test).cache()

# Extract the predictions and the "known" correct labels.
predictions = fullPredictions.select("prediction").rdd.map(lambda x: x[0])
labels = fullPredictions.select("label").rdd.map(lambda x: x[0])

# Zip them together
predictionAndLabel = predictions.zip(labels).collect()

# Print out the predicted and actual values for each point
for prediction in predictionAndLabel:
  print(prediction)

(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 1)
(0.41947565543071164, 0)
(0.41947565543071164, 0)
(0.41947565543071164, 0)

## Logistic Regression with Spark

In [31]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [32]:
# Create Logistic Regression model 
lg = LogisticRegression(labelCol='label')
lg_model = lg.fit(train) #fit the model
training_sum = lg_model.summary
training_sum.predictions.describe().show()

+-------+-------------------+-------------------+
|summary|              label|         prediction|
+-------+-------------------+-------------------+
|  count|                534|                534|
|   mean|0.41947565543071164|0.41947565543071164|
| stddev| 0.4939359347743282| 0.4939359347743282|
|    min|                0.0|                0.0|
|    max|                1.0|                1.0|
+-------+-------------------+-------------------+

In [33]:
preds = lg_model.evaluate(test)
preds.predictions.show()

+--------------------+-----+--------------------+--------------------+----------+
|            features|label|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[0.0032418,3.4921...|    1|[218.054955002582...|           [1.0,0.0]|       0.0|
|[0.0036366,1.7777...|    0|[3016.53106301712...|           [1.0,0.0]|       0.0|
|[0.0053045,2.1663...|    0|[5171.87240945797...|           [1.0,0.0]|       0.0|
|[0.007249,3.8778,...|    0|[479.216748270881...|           [1.0,0.0]|       0.0|
|[0.0091645,0.5926...|    1|[-341.45440218498...|[5.10784029044185...|       1.0|
|[0.0092304,0.5688...|    0|[6998.16245463894...|           [1.0,0.0]|       0.0|
|[0.011877,4.9623,...|    0|[6566.60265352794...|           [1.0,0.0]|       0.0|
|[0.016221,3.265,1...|    0|[3859.64836871875...|           [1.0,0.0]|       0.0|
|[0.016724,2.8393,...|    1|[-2115.5361569576...|           [0.0,1.0]|       1.0|
|[0.030123,1.3544,...|    1|[-6982.4510437926...|           [0.0,1.0]|       1.0|
|[0.031638,0.76067...|    0|[-35.948538497624...|[2.4420137108705E...|       1.0|
|[0.035857,4.2105,...|    0|[5029.49479547101...|           [1.0,0.0]|       0.0|
|[0.036833,2.286,8...|    0|[3573.27291236211...|           [1.0,0.0]|       0.0|
|[0.037209,2.5458,...|    0|[-2811.7625069832...|           [0.0,1.0]|       1.0|
|[0.040616,3.4401,...|    0|[2519.28334225179...|           [1.0,0.0]|       0.0|
|[0.040834,4.3919,...|    0|[146.855908180392...|           [1.0,0.0]|       0.0|
|[0.046937,4.1652,...|    0|[1606.14719629503...|           [1.0,0.0]|       0.0|
|[0.047377,4.5405,...|    1|[-1423.3080473424...|           [0.0,1.0]|       1.0|
|[0.060995,4.7187,...|    0|[-7060.2479637853...|           [0.0,1.0]|       1.0|
|[0.066797,2.3816,...|    0|[-2207.3847582032...|           [0.0,1.0]|       1.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [34]:
# Using AUC (Area Under Curve)
eval = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='label')
acc = eval.evaluate(preds.predictions)
print(acc)

0.8371647509578544

Accuracy of 83,72% for Logistic Regression.

## Decision Tree Classifier

In [35]:
from pyspark.ml.classification import DecisionTreeClassifier

In [36]:
# Create a DecisionTreeClassifier and fit the training data
dtc = DecisionTreeClassifier()
dtc_model = dtc.fit(train)

# Create predictions for the testing data and take a look at the predictions
prediction = dtc_model.transform(test)
prediction.select('label', 'prediction', 'probability').show(5, False)

+-----+----------+----------------------------------------+
|label|prediction|probability                             |
+-----+----------+----------------------------------------+
|1    |1.0       |[0.03773584905660377,0.9622641509433962]|
|0    |0.0       |[0.9120879120879121,0.08791208791208792]|
|0    |0.0       |[0.9120879120879121,0.08791208791208792]|
|0    |0.0       |[0.9120879120879121,0.08791208791208792]|
|1    |1.0       |[0.03773584905660377,0.9622641509433962]|
+-----+----------+----------------------------------------+
only showing top 5 rows

In [37]:
prediction.groupBy('label', 'prediction').count().show()

# Calculate the elements of the confusion matrix
TN = prediction.filter('prediction = 0 AND label = prediction').count() #True Negatives
TP = prediction.filter('prediction = 1 AND label = prediction').count() #True Positives
FN = prediction.filter('prediction = 0 AND label = 1').count() #False Negatives
FP = prediction.filter('prediction = 1 AND label = 0').count() #False Psotives

# Accuracy measures the proportion of correct predictions
acc = (TN + TP) / (TN + TP + FN + FP)
print(acc)

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|    1|       0.0|    3|
|    0|       0.0|   31|
|    1|       1.0|   26|
|    0|       1.0|    5|
+-----+----------+-----+

0.8769230769230769

Accuracy of 87,69% for Decision Tree Classifier.

In [38]:
sc.stop() # stop session

As I mentioned in the beginning, I just wanted to try to experiment with PySpark again because I didn't understood it that well in the lessons. The results are not as good as the model without PySpark but I would have to make more research to understand how to improve a PySpark ML model.